<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing data attributes using Selenium">
    <test name="Data attributes test">
        <classes>
            <class name="io.github.mfaisalkhatri.DemoTests">
                <methods>
                    <include name="testTimeOutException"/>
                    <include name="testNoSuchElementException"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->